<div *ngIf="!userData.length" class="d-flex position-absolute top-50 start-50 translate-middle flex-grow-1 w-100 gap-3 justify-content-center flex-column  align-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" ngClass="w-200 h-200" fill="currentColor" class="ki ki-user" viewBox="0 0 16 16">
      <path d="M8 8c1.894 0 3.429-1.492 3.429-3.333 0-1.841-1.535-3.334-3.429-3.334S4.571 2.826 4.571 4.667C4.571 6.507 6.106 8 8 8Zm0-5.833c1.418 0 2.571 1.121 2.571 2.5 0 1.378-1.153 2.5-2.571 2.5-1.418 0-2.571-1.122-2.571-2.5 0-1.379 1.154-2.5 2.571-2.5ZM9.358 9.25H6.642C4.079 9.25 2 11.27 2 13.764c0 .498.416.903.928.903h10.144a.914.914 0 0 0 .928-.903c0-2.492-2.079-4.513-4.642-4.513Zm3.712 4.583H2.928a.07.07 0 0 1-.07-.07c0-2.029 1.697-3.68 3.784-3.68h2.713c2.09 0 3.788 1.651 3.788 3.68a.07.07 0 0 1-.073.07Z"/>
    </svg>
  <p class="title-4">
    There are no users added yet ! 
  </p>
  <button class="btn bg-accent-violet text-capitalize text-white" (click)="openModal()">
    add  user
  </button>

</div>
<div *ngIf="userData.length">
  <div class="page-title">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <h4>All users</h4>
      <button class="btn bg-accent-violet text-white text-capitalize" (click)="openModal()">
        add users
      </button>
    </div>
  </div>
  <app-user-list [userList]="userData"></app-user-list>

</div>

