<div class="d-flex justify-content-center">
    <div class="card w-25 ">
        <div class="card-body border clear-padding">
            <div class="p-32 pb-40">
                <p class="font-weight-bold text-large text-capitalize d-flex justify-content-center mb-20">create new password</p>
                <form  action="" id="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" autocomplete="on"
                    class="d-flex justify-content-center flex-column">
                    <div class="form-group">
                        <label class="text-capitalize font-weight-bold">
                            userName 
                            <span class="text-danger" id="emailError"
                                *ngIf="forgotPasswordForm.get('userName')!.invalid && (forgotPasswordForm.get('userName')!.touched ||
                            forgotPasswordForm.get('userName')!.dirty || isFormInvalid)">
                                <span *ngIf="forgotPasswordForm.get('userName')!.errors!['required']"class="text-danger">
                                    *Required
                                </span>
                            </span>
                            <span *ngIf="isUserInValid && (!forgotPasswordForm.get('userName').invalid || !forgotPasswordForm.get('userName')!.dirty)" class="text-danger">
                                username didnt exist
                            </span>
                        </label>
                        <input type="text" formControlName="userName" class="form-control input" formControlName="userName" required>
                    </div>
                    <div class="form-group">
                        <label class="text-capitalize font-weight-bold">password
                            <span class="text-danger" id=""
                                *ngIf="forgotPasswordForm.get('password')!.invalid && (forgotPasswordForm.get('password')!.touched || forgotPasswordForm.get('password')!.dirty || isFormInvalid)">
                                *Required</span>
                            </label>
                        <input type="password" formControlName = "password" class="form-control input"  required>
                    </div>
                    <div class="form-group">
                        <label class="text-capitalize font-weight-bold">confirm password
                             <span class="text-danger" id=""
                                *ngIf="forgotPasswordForm.get('confirmPassword')!.hasError('required') && (isFormInvalid || forgotPasswordForm.get('confirmPassword')!.touched || forgotPasswordForm.get('confirmPassword')!.dirty)">
                                *Required
                            </span>
                        </label>
                        <input type="password" formControlName="confirmPassword"  class="form-control input" required>
                    </div>
                    <span *ngIf="forgotPasswordForm.get('confirmPassword').hasError('passwordMismatch') === true && (forgotPasswordForm.get('confirmPassword').touched ||forgotPasswordForm.get('confirmPassword')!.dirty )" class="text-danger text-center mb-10">
                        Passwords do not match
                    </span>
                    <button class="btn btn-primary text-capitalize">
                        submit
                    </button>
                    <div class="d-flex justify-content-between mt-5">
                        <a routerLink="../login" class="text-decoration-none text-capitalize">
                            login
                        </a>
                        <p class="text-link " routerLink="../signup">New User ?
                            Register here
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>